body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


html { 
	padding:0px;
	margin:0px;
}

p {
	height: 100px;
}

a {
	color: #FDAC57;
	text-decoration: none;
}

body {
	background-color: #182B37;
	font-size: 13px;
	font-family: Arial, SunSans-Regular, Sans-Serif;
	color:#FDAC57;  	
	padding:0 20px;
	margin:0;
}	    

#content {
	margin-left: 200px;
	background-color:#E7E1D4;
	overflow: auto;
}

.sub_content {
	background-color:#324547;
	font-size: 35px;
	margin-top:50px;
	margin-bottom:50px;
	margin-right:5px;
	margin-left:5px;	
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding-top:25px;
	padding-left:10px;
	padding-bottom:25px;
}


#menu {
	position: fixed;
	z-index: 20;
	width: 180px;
	padding-top: 80px;
	text-align: right;
}
